.form__btn-switch-wrapper {
  width: 100%;
}

.form-switch .form-check-input {
  width: 2.5em !important;
  height: 1.2em !important;
}

@media screen and (min-width: 576px) {
  .form__btn-switch-wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 998px) {
  .form__btn-switch-wrapper {
    width: 45%;
  }
}